---
name: about
url: /about/
---
<div class="grid-content">
  <h1>SDOF</h1>
  <p class="lead">A simple tool for studying Single Degree of Freedom systems</p>
  <hr>
	<p>Hello there! My name is Jeremy Atkinson and I created SDOF as a convenient way of obtaining the response of SDOF
	 systems. If you have any comments, suggestions, bugs, or if you just really like the tool, you can let me
	  know at <a href="mailto:jchatkinson@gmail.com?Subject=SDOF%20App" target="_top">jchatkinson@gmail.com</a>
	</p>  
	
	<p>
		SDOF uses recurrence formulas to calculate the system response. The method is rather straightforward,
		 and detailed explanation is available in most structural analysis textbooks.
	</p>
		<p>
		SDOF was built with <a href="https://angularjs.org/">AngularJS</a>, and makes use of several third-part libraries, including <a href="http://d3js.org/">d3.js</a>, <a href="http://n3-charts.github.io/line-chart/#/">n3-line-chart.js</a>, and <a href="https://github.com/JensNockert/fft.js">fft.js</a>.
	</p>
  
</div>