<div class="grid-content">
  <h1>SDOF</h1>
  <p class="lead">A simple tool for studying Single Degree of Freedom systems</p>
  <hr>
	<p>Hello there! My name is Jeremy Atkinson and I created SDOF as a convenient way of obtaining the response of SDOF
	 systems. If you have any comments, suggestions, bugs, or if you just really like the tool, you can let me
	  know at <a href="mailto:jchatkinson@gmail.com?Subject=SDOF%20App" target="_top">jchatkinson@gmail.com</a>
	</p>  
	
	<p>
		SDOF uses recurrence formulas to calculate the system response. The method is rather straightforward,
		 and detailed explanation is available in most structural analysis textbooks.
	</p>
	<p>
		SDOF was built with <a href="http://foundation.zurb.com/apps/">Foundation for Apps</a>, <a href="https://angularjs.org/">AngularJS</a>, and makes use of several third-part libraries for plotting, including <a href="http://d3js.org/">d3.js</a>, <a href="http://n3-charts.github.io/line-chart/#/">n3-line-chart.js</a>, and <a href="https://github.com/JensNockert/fft.js">fft.js</a>.
	</p>
	<a zf-open="legalModal" class="hollow button">Legal Stuff</a>
	<div zf-modal="" id="legalModal" class="collapse">
		<div class="grid-block vertical">
			<div class="primary title-bar">
				<div class="center title">Legal Stuff</div>
			</div>
			<div class="grid-content padding" style="padding-top: 1rem;">
				<p>
					Copyright (c) 2015, Jeremy Atkinson
					All rights reserved.
				</p>
				<p>	
					Redistribution and use in source and binary forms, with or without
					modification, are permitted provided that the following conditions are met:
				</p>
				<ul>	
					<li>Redistributions of source code must retain the above copyright notice, this
					  list of conditions and the following disclaimer.</li>
					
					<li>Redistributions in binary form must reproduce the above copyright notice,
					  this list of conditions and the following disclaimer in the documentation
					  and/or other materials provided with the distribution</li>
					
					<li>The name Jeremy Atkinson may not be used to endorse or promote products
					  derived from this software without specific prior written permission.</li>
				</ul>
				<p>	
					THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
					AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
					IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
					DISCLAIMED. IN NO EVENT SHALL JEREMY ATKINSON BE LIABLE FOR ANY DIRECT,
					INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING,
					BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE,
					DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY
					OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING
					NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE,
					EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE. 
				</p>
				<a zf-close="" class="button">Got it!</a>
			</div>
		</div>
	</div>
  
</div>